body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

/* Page syles */

#page {
    margin: 0;
    width: 100%;
    display: flex;
}

/* Left section */
#left-section {
    width: 25%;
    height: fit-content;
}

#card {
    margin: 10px;
    padding:10px;
    background-color: #4cbbb9;
    box-shadow: 10px 10px #0779e4;
    text-align: center;
    font-size: 0.8em;
}

#card img {
    width: 70%;
    margin: 10px;
    border-radius: 50%;
}

/* Right section */
#right-section {
    
}